<div th:fragment="menu" class="col-md-2 col-sm-2">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">

                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapseOne">
                    <h4 class="panel-title">
                        基本信息管理 </h4>
                </a>

            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a onclick="goto('/teacher')" href="#teacher">教师基本信息</a></li>
                        <li><a onclick="goto('/major')" href="#major">专业基本信息</a></li>
                        <li><a onclick="goto('/department')" href="#department">院系基本信息</a></li>
                        <li><a onclick="goto('/plan')" href="#plan">培养目标基本信息</a></li>
                        <li><a onclick="goto('/point')" href="#point">观测点基本信息</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">

                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collapse2">
                    <h4 class="panel-title">
                        基本信息管理 </h4>
                </a>

            </div>
            <div id="collapse2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a onclick="goto('/teacher')" href="#teacher">教师基本信息</a></li>
                        <li><a onclick="goto('/major')" href="#major">专业基本信息</a></li>
                        <li><a onclick="goto('/department')" href="#department">院系基本信息</a></li>
                        <li><a onclick="goto('/plan')" href="#plan">培养目标基本信息</a></li>
                        <li><a onclick="goto('/point')" href="#point">观测点基本信息</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>